<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="system.serviceModel">
      <section name="domainServices"
               type="System.ServiceModel.DomainServices.Hosting.DomainServicesSection, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
               allowDefinition="MachineToApplication"
               requirePermission="false" />
    </sectionGroup>

    <section name="loggingConfiguration"
             type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             requirePermission="true" />
    <section name="dataConfiguration"
             type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             requirePermission="true" />
    <section name="Clog"
             type="DanielVaughan.Logging.Configuration.ClientLoggingConfigurationSectionHandler, DanielVaughan.Logging"/>

  </configSections>



  <!--Enterprise Library Configuration-->

  <loggingConfiguration name="My Logging"
                        tracingEnabled="true"
                        defaultCategory="General">
    <listeners>
      <add name="Loging Events TO Event View"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           source="Enterprise Library Logging"
           formatter="Text Formatter"
           log=""
           machineName="."
           traceOutputOptions="None" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
           name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All"
           name="General">
        <listeners>
          <add name="Loging Events TO Event View" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All"
                 name="All Events" />
      <notProcessed switchValue="All"
                    name="Unprocessed Category" />
      <errors switchValue="All"
              name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Loging Events TO Event View" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <dataConfiguration defaultDatabase="eNegDatabaseConnectionString" />
  <Clog InternalLogLevel="All"
        SkipFrameCount="4"
        xmlns="http://danielvaughan.orpius.com/Clog/2/0/">


    <!-- Enterprise Library Logging Strategy for Clog -->
    <LogStrategy Name="EnterpriseLibraryStrategy"
                 Type="DanielVaughan.Logging.LogStrategies.EnterpriseLibraryStrategy, &#xD;&#xA;                  DanielVaughan.Logging.EnterpriseLibraryLogStrategy">

    </LogStrategy>

  </Clog>

  <!--Enterprise Library Configuration-->

  <system.web>
    <compilation debug="true"
                 targetFramework="4.0" />
    <authentication mode="Forms"/>
  </system.web>

  <connectionStrings>

    <!-- Mohammed -->

    <add name="eSourceAppEntities"
         connectionString="metadata=res://*/eSourceAppModel.csdl|res://*/eSourceAppModel.ssdl|res://*/eSourceAppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
         Data Source=CITPC_07\MWAHAB_SQL;Initial Catalog=eSourceApp;Integrated Security=False;User Id=eSourceAppUser;Password=eSourceAppUserPassword;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" />


    <!--Yousra -->
    <!--<add name="eSourceAppEntities"
         connectionString="metadata=res://*/eSourceAppModel.csdl|res://*/eSourceAppModel.ssdl|res://*/eSourceAppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
         Data Source=CITPC_11;Initial Catalog=eSourceApp;Integrated Security=False;User Id=eSourceAppUser;Password=eSourceAppUserPassword;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" />-->

    <!--ott -->
    <!--<add name="eSourceAppEntities"
         connectionString="metadata=res://*/eSourceAppModel.csdl|res://*/eSourceAppModel.ssdl|res://*/eSourceAppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
         Data Source=citPoint-Deploy;Initial Catalog=eSourceApp;Integrated Security=False;User Id=eSourceAppUser;Password=eSourceAppUserPassword;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" />-->


    <!-- Logging -->

    <!-- Mohammed -->
    <!--<add name="eNegDatabaseConnectionString"
         connectionString="Data Source=CITPC_07\MWAHAB_SQL;Initial Catalog=eNeg;Integrated Security=SSPI;"
         providerName="System.Data.SqlClient" />-->

    <!-- Yousra -->
    <!--<add name="eNegDatabaseConnectionString"
         connectionString="Data Source=CITPC_11;Initial Catalog=eNeg;Integrated Security=SSPI;"
         providerName="System.Data.SqlClient" />-->

    <!--Ott-->
    <add name="eNegDatabaseConnectionString"
         connectionString="Data Source=CITPOINT-DEPLOY;Initial Catalog=eNeg;Integrated Security=False;User Id=eNegUser;Password=eNegUserPassword;"
         providerName="System.Data.SqlClient" />

  </connectionStrings>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule"
           preCondition="managedHandler"
           type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />


  </system.webServer>

  <system.serviceModel>

    <services>

      <!--Settings for the Current Services eSourceApp Services-->

      <service name="citPOINT.eSourceApp.Data.Web.eSourceAppService"
               behaviorConfiguration="citpoint-eSourceApp-data-web-eSourceAppservice">
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="citpoint-eSourceApp-data-web-eSourceAppservice">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"  />
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <!-- - - - - - - - - - - - - - - - - - - - -->


    <domainServices>
      <endpoints>
        <add name="JSON"
             type="Microsoft.ServiceModel.DomainServices.Hosting.JsonEndpointFactory, Microsoft.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="OData"
             type="System.ServiceModel.DomainServices.Hosting.ODataEndpointFactory, System.ServiceModel.DomainServices.Hosting.OData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="Soap"
             type="Microsoft.ServiceModel.DomainServices.Hosting.SoapXmlEndpointFactory, Microsoft.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />

        <!--<add name="Binary"
                type="Microsoft.ServiceModel.DomainServices.Hosting.BinaryEndpointFactory, Microsoft.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->

      </endpoints>
    </domainServices>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
                               multipleSiteBindingsEnabled="true"   />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ServiceSoap"
                 closeTimeout="00:10:00"
                 openTimeout="00:10:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 allowCookies="false"
                 bypassProxyOnLocal="false"
                 hostNameComparisonMode="StrongWildcard"
                 maxBufferSize="8388608"
                 maxBufferPoolSize="8388608"
                 maxReceivedMessageSize="8388608"
                 messageEncoding="Text"
                 textEncoding="utf-8"
                 transferMode="Buffered"
                 useDefaultWebProxy="true"
                >
          <readerQuotas maxDepth="32"
                        maxStringContentLength="8192"
                        maxArrayLength="16384"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384"
                          />
          <security mode="None">
            <transport clientCredentialType="None"
                       proxyCredentialType="None"
                       realm="" />
            <message clientCredentialType="UserName"
                     algorithmSuite="Default" />
          </security>
        </binding>


        <!--<binding name="eSourceAppSoap"
                 closeTimeout="00:10:00"
                 openTimeout="00:10:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 allowCookies="false"
                 bypassProxyOnLocal="false"
                 hostNameComparisonMode="StrongWildcard"
                 maxBufferSize="8388608"
                 maxBufferPoolSize="8388608"
                 maxReceivedMessageSize="8388608"
                 messageEncoding="Text"
                 textEncoding="utf-8"
                 transferMode="Buffered"
                 useDefaultWebProxy="true"
                 >
          <readerQuotas maxDepth="32"
                        maxStringContentLength="8192"
                        maxArrayLength="8388608"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None"
                       proxyCredentialType="None"
                       realm="" />
            <message clientCredentialType="UserName"
                     algorithmSuite="Default" />
          </security>
        </binding>-->

      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9000/Services/citPOINT-eNeg-Data-Web-eNegService.svc/Soap"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ServiceSoap"
                contract="ServiceReference1.eNegServiceSoap"
                name="BasicHttpBinding_ServiceSoap"/>

      <!--bindingConfiguration="eSourceAppSoap"-->
      <!--
      <endpoint address="https://design.negpoint-test.com/WebServices/eNeg/eSourceApp.asmx"
                binding="basicHttpBinding"
                bindingConfiguration="eSourceAppSoap"
                contract="eSource.eSourceAppSoap"
                name="eSourceAppSoap" />-->

    </client>
  </system.serviceModel>

  <system.web>
    <httpModules>
      <add  name="DomainServiceModule"
            type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
  </system.web>



  <!--Key Pair Used for authenticating RIA Service (Encrypted)-->
  <!--<appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>kEmeEy603cn4xerL7ExV0Zk7S2aBxiNQLNfuSTKfIHNlmdidBWtLsd055jS0qddbFvk/AuR9Mz15C+evQKxbD7ivWrCUVylJRMHfoS3hGPuJLhu6u+JAmevdGrVptE2canRjlxq0r8y8JehqZWROToRdjxk113/d7C+f5QLSIs8=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>OGZZH5BYtR0/9Y4L7dIFoICSsUBMkAIUxwxKTj46siGjEjDARyXYIh71gVle26MuLvkvMphwfkEXmhjrIx/ywMc2BPsxIpCWkg/IRVibqi2qBnUpb3ywYPtqlVDr+s3YruTEN6aNXkkZRUcNMJGsq+Y73Ouny6RusrQ2eM7dx9+skW4DLkHjyA==</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>-->

  <!--Key Pair Used for authenticating RIA Service (Decrypted)-->
  <appSettings>

    <add key="username"
         value="eNeg2010"/>

    <add key="password"
         value="pwseNeg2010"/>

    <add key="EncryptionKey"
         value="sWv07@iDT5xderfv"/>

    <add key="EncryptionIV"
         value="5C7k9L1f3G4h2N6@"/>


    <add key="eSourceServiceUrl"
         value="http://eneg.negpoint-test.com:10010/WebServices/eNeg/eSourceApp.asmx"/>


  </appSettings>

</configuration>
